#daggerSheet{
	background-color: #003300;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: solid solid none solid;
	width: 50%
}
#swordSheet{
	background-color: #000099;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: solid solid none solid;
	width: 50%
}
#hammerSheet{
	background-color: #996633;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: solid solid none solid;
	width: 50%
}
#specialSkillsSheet{
	background-color: #993300;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: solid solid none solid;
	width: 50%
}
#gameStatusSheet{
	background-color: #660033;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: solid solid solid solid;
	width: 50%
}
#charStatusSheet{
	background-color: #732626;
	color: #ffffff;
	font-weight: bold;
	border: #000000;
	border-style: none solid solid;
	width: 50%
}
#daggerSheet button{
	background-color: #339966;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}
#swordSheet button{
	background-color: #0099cc;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}
#hammerSheet button{
	background-color: #cc9900;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}
#specialSkillsSheet button{
	background-color: #ff6600;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}
#gameStatusSheet button{
	background-color: #993366;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}
#charStatusSheet button{
	background-color: #993333;
	text-shadow: 1px 1px #222222;
	color: #ffffff;
	font-weight: bold;
}