<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/interface.css" />
		<title>Character Sheet</title>
		<script language="JavaScript" type="text/javascript" src="static/jquery-2.1.4.min.js"></script>
		<script>
			$(function (){
				$('.skill-btn').bind('click', function() {
					$.getJSON('/skillUp', {
						skill: $('div[class="weapon"]').id,
						level: $('input[id="skillLevel"]').val()
					}, function (data) {
						$("#skillLevel").val(data.dagger_skill);
					});
					return false;
				});
			});
		</script>
	</head>
	<body>
		<h1>Character Sheet</h1>
		<div class='weapon' id='dagger'>
			<input type = "checkbox" id = "daggerCheck" disabled readonly> <input class="skill-btn" id='daggerSkillButton' type="button" value="Level Dagger Skill"> 
			Dagger Skill: <input type"text" id="skillLevel" value="{{ dagger_skill }}" disabled>
			
		</div>

		<div class='weapon' id='sword'>
			<input type = "checkbox" id = "swordCheck" disabled readonly> <input class="skill-btn" id='swordSkillButton' type="button" value="Level Sword Skill"> 
			Sword Skill: <input type"text" id="skillLevel" value="{{ sword_skill }}" disabled>
			
		</div>
	</body>
</html>